make.exe
libiconv2.dll
libintl3.dll
checkmate_win32_bin/bin/icudt53.dll
checkmate_win32_bin/bin/icuin53.dll
checkmate_win32_bin/bin/icuuc53.dll
checkmate_win32_bin/bin/libgcc_s_dw2-1.dll
checkmate_win32_bin/bin/libstdc++-6.dll
checkmate_win32_bin/bin/libwinpthread-1.dll
checkmate_win32_bin/bin/Qt5Core.dll
checkmate_win32_bin/bin/Qt5Gui.dll
checkmate_win32_bin/bin/Qt5Widgets.dll
checkmate_win32_bin/bin/Qt5Network.dll
checkmate_win32_bin/bin/platforms/qwindows.dll
compile_log.txt
clog.txt
compiler.exe
build-*/
src/*.user
updater_src/*.pro.user
src/debug/
src/release
updater_src/debug/
updater_src/release
checkmate_win32_bin/bin/Checkmate.exe
checkmate_win32_bin/bin/CheckmateUpdater.exe
src/ui_*
src/object_*
src/Make*
updater_src/Make*
build.log
