Source: checkmate
Section: unknown
Priority: optional
Maintainer: Kaleb Klein <klein.jae@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://kalebklein.com/portfolio/post/checkmate

Package: checkmate
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qt5-default
Description: Cross Platform Checksum Validator
 Validates checksums, with the ability to generate them too.
 Supports MD5, SHA1, and SHA256 hashing algorithms.
